<div class="container">
    <div class="card">
        <div class="card-header">
            Create a new post:
        </div>
        <form id="new_post" class="card-body">
            <input type="text" class="form-control" name="post-title">
            <textarea name="post-body" id="post-body" class = "form-control" cols="30" rows="10"></textarea>
            <button type="submit" class = "btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="/js/newPost.js"></script>